<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel='preconnect' href="{{'https://fonts.gstatic.com'}}">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel='stylesheet' href="{{'https://fonts.googleapis.com/css2?family=Pacifico&display=swap'}}">
    
    <link lang="sass" rel="stylesheet" href="../static/styles/projects.css" />
    <link rel='stylesheet' href="{{'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'}}">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
    <title>Register</title>
  </head>

  <body>
    <!-- Home Page -->
    <header class="header-container">
      <div class="header-sections">
        <a href="../">Home</a>
        <a href="../about">About</a>
        <a href="../projects">Projects</a>
        <a href="../register">Register</a>
        <a href="../login">Login</a>
        <a href="../contact">Contact</a>
      </div>
    </header>

    <section id="registerSection">
        <h1 class="titleS">Registration Form</h1>
        <form action="../register/" method="POST" class="forms">
            <label for="uname">Username:</label><br>
            <input type="text" id="usernameID" name="username" value=""><br>
            <label for="password">Password:</label><br>
            <input type="password" id="passwordID" name="password"  value="" ><br><br>
            <button type="submit" id="submitRegisterBtn" class="button"><span>SUBMIT</span></button>
        </form>
    </section>
    
   
    <footer id="contact">
      <div class="social">   
        <a href="https://github.com/SirEctor" target="_blank">
          <img src= "{{url_for('static', filename='img/github.png')}}" alt="gihub_logo"/>
        </a>
        <a href="https://www.linkedin.com/in/ebenezer-teshome/" target="_blank">
          <img src= "{{url_for('static', filename='img/linkedin.png')}}" alt="linkedin_logo"/>
        </a>
        <a href="https://drive.google.com/file/d/12Ge6cDQZ6QflZ4gXUqw72zJKE9RXsbKh/view?usp=sharing" target="_blank">
          <img src= "{{url_for('static', filename='img/resume.png')}}" alt="resume_logo"/>
        </a>
      </div>
    </footer>
    
</body>
</html>
